<!DOCTYPE html>
<html>
<head>
		<meta charset="ISO-8859-1">
		<title>Checkout</title>
		<link rel="shortcut icon" href="/images/title.png" type="image/png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="scripts/homePage.js"></script>
		<script type="text/javascript" src="scripts/buyitnowPage.js"></script>
</head>
	<body style="background:#f5f5f5;padding-left:200px;" ng-app="addtocartApp">
			<div  ng-controller="buyitnowCtrl">
			<div class="row">
				<div class="col-md-12">
						<div>
						<a href="homePage.html?username={{user_name}}"><img src="/images/logo.png" style="float:left;height:80px"></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<h2>Checkout</h2>
					</div>
					<br><br>
					
					<div ng-repeat="cartitem_detail in cartitemDescription" style="background:#ffffff;width:300px;height:150px;float:right;margin-right:250px;padding-left:20px;">
						<h3>Order total
						&nbsp;&nbsp;
						{{quantity_total}} * $ {{price_total}} = <br></h3>
							 <h4>
							  ${{total}}
						</h4>   
						<br>
						<input type="button" value="Confirm and pay" class="btn btn-primary" ng-click="checkcardDetails();" style="width:260px;padding-right:20px">
					</div>
					
					<div style="float:left">
				  <p  class="lead">Enter Credit Card Details</p>
				  <br>
				  <p  class= "alert alert-success" style="{{suc}}" >{{errorMsg}}<p>
				  <form>
						Credit Card Number
						<input type="text" style="width:400px" class="form-control" ng-model="Credit_Card_Number" id="Credit_Card_Number">
						<br>
						<p class= "alert_msg">{{a}}</p>
						<br>
						Expiration Date    
						<br>
								<select class="form-control" ng-model="expiry_month" id="expiry_month" style="width:120px;float:left">
				                <option value="1">Jan (01)</option>
				                <option value="2">Feb (02)</option>
				                <option value="3">Mar (03)</option>
				                <option value="4">Apr (04)</option>
				                <option value="5">May (05)</option>
				                <option value="6">June (06)</option>
				                <option value="7">July (07)</option>
				                <option value="8">Aug (08)</option>
				                <option value="9">Sep (09)</option>
				                <option value="10">Oct (10)</option>
				                <option value="11">Nov (11)</option>
				                <option value="12">Dec (12)</option>
				              </select>
				              <select class="form-control" ng-model="expiry_year" id="expiry_year" style="width:100px">
				                <option value="2013">2013</option>
				                <option value="2014">2014</option>
				                <option value="2015">2015</option>
				                <option value="2016">2016</option>
				                <option value="2017">2017</option>
				                <option value="2018">2018</option>
				                <option value="2019">2019</option>
				                <option value="2020">2020</option>
				                <option value="2021">2021</option>
				                <option value="2022">2022</option>
				                <option value="2023">2023</option>
				              </select>
				              <br>
				             <p class= "alert_msg" style="float:left">{{b}}</p>
 				             <p class= "alert_msg">{{c}}</p>
						<br>
						CVV Number
						<input type="text" class="form-control" ng-model="cvvnumber" id="cvvnumber" style="width:100px">
						<br>
						<p  class= "alert_msg">{{d}}</p>
						<br>
						<div style="float:left">
						First Name
						<input style="width:200px" type="text" placeholder="John" ng-model="firstName" class="form-control">
						<p  class= "alert_msg">{{e}}</p>
						</div>
						<div>
						Last Name
						<input type="text" placeholder="Smith" ng-model="secondName" class="form-control" style="width:200px">
						<p  class= "alert_msg">{{f}}</p>
						<br>
						</div>
						</form>
				</div>
				
				</div>
					<br><br>
					&nbsp;
					<p>Review item and shipping</p>
					<div style="background:#ffffff;width:700px">
						<table>
							<tr ng-repeat="cartitem_detail in cartitemDescription">
		    					<td>
		    						<img src = "/images/na_image.png" style="float:left;width:150px;height:150px;background-color:#ffffff"/>
			    					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    					<div  style="float:right;width:400px">
			    					{{cartitem_detail.item_name}} -- {{cartitem_detail.item_desc}}
			    					<br><br>
			    					<label> Seller : </label>{{cartitem_detail.seller_info}}
			    					<br>
			    					<label> Price: </label> $ {{cartitem_detail.item_price}}  
									<br>
			    					<label>Quantity Requested: </label>{{cartitem_detail.item_quantity}} 
			    					<br><br><br><br>
			    					</div>
		    					</td>
		    				</tr>
						</table>
					</div>
					</div>
		</div>
			<br><br>
		<style type="text/css">
			.a{
				width: 25px;
				height: 25px;
			}
			.b{
				padding-left :70px;
				font-size: 13px;
			}
			.c{
				padding-right :80px;
				font-size: 13px;
			}
			.alert_msg{
				color: #B22222 ;
				font-size: 12px;	
			}
		</style>
</body>
</html>