@CHARSET "ISO-8859-1";
.a{
				width: 25px;
				height: 25px;
			}
			.b{
				padding-left :70px;
				font-size: 13px;
			}
			.c{
				padding-right :80px;
				font-size: 13px;
			}
			.well{
				background: #FFFFFF;
				padding-top: 7px;
				height: 25px;
				padding-bottom: 30px;
				box-shadow: 0 4px 2px -2px #D3D3D3;
				margin: none;
			}
			body{
				background:#F5F5F5;
			}
			a{
			color:#000000;
			}
			a:hover { 
	 		   	color: blue;
			}